// Breakpoints
$phoneM: "(min-width: 414px)";
$phone: "(max-width: 587px)";
$phoneXL: "(min-width: 588px)";
$tabletS: "(min-width: 601px)";
$tablet: "(min-width: 768px)";
$tabletXL: "(min-width: 840px)";
$desktop:"(min-width: 1016px)";
$desktopS: "(min-width: 1095px)";
$desktopXL: "(min-width: 1200px)";
