$white: #ffffff;

$darkBlue: #000019;
$yellow: rgba(245, 181, 33, 1);

$darkerGrey: rgba(74, 74, 74, 1);
$darkenGrey: rgba(178, 178, 177, 1);
$darkGrey: rgba(156, 156, 156, 1);
$mediumGrey:  rgba(128, 128, 128, 1);
$dimGrey: rgba(204, 204, 204, 1);
$grey: rgba(236, 236, 236, 1);
$brightGrey: rgba(230, 230, 230, 1);
$lightGrey: rgba(251, 251, 251, 1);
$lightenGrey: rgba(255, 255, 255, 1);
$ashen: rgba(150, 150, 150, 1);

$shadow: #ececec;
$shadowOnBlue:#2d2b50;

$almostBlack: #222;
$importantRed: #BC1818;

$errorBorder: rgba(208, 2, 27, 1);
$errorBckg: rgba(255, 230, 233, 1);

$opacityBlack: rgba(0,0,0,0.6);
